<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>A simple web weather app that allows you to view the current weather.</p>
        <p>You can check weather by typing city name.</p>
        <img class="port" src="/img/2.png">
    </div>

    {{>footer}}
</body>
</html>