<!DOCTYPE html>

<head>    
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div>
            <b><p>Used technologies,extensions and frameworks</p></b>
            <li>Handlebars.js</li>
            <li>CSS3</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <b><p>Used APIs</p></b>
            <li>Dark Sky</li>
            <li>Mapbox</li>
        </div>
    </div>

    {{>footer}}
</body>
</html>